* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: large;
  color: red;
}

.list__item {
  cursor: pointer;
  width: min-content;
}

.list__item:hover{
  color: blueviolet;
  text-decoration: line-through;
}
